USE [master]
GO
/****** Object:  Database [ImgServiceDB]    Script Date: 01/04/2017 08:14:35 ******/
CREATE DATABASE [ImgServiceDB] ON  PRIMARY 
( NAME = N'ImgServiceDB', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ImgServiceDB.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ImgServiceDB_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ImgServiceDB_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImgServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImgServiceDB]
GO
/****** Object:  Table [dbo].[imgtbl]    Script Date: 01/04/2017 08:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[imgtbl](
	[ImgID] [int] IDENTITY(1,1) NOT NULL,
	[ImgData] [image] NULL,
	[ImgTitle] [varchar](max) NULL,
 CONSTRAINT [PK_imgtbl] PRIMARY KEY CLUSTERED 
(
	[ImgID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
