<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<connectionStrings>
		<add name="conn" connectionString="Server=83c778e1-9a53-4f4b-b505-a6f10088b3c0.sqlserver.sequelizer.com;Database=db83c778e19a534f4bb505a6f10088b3c0;User ID=lyckqpigqpujhcla;Password=Gt46vfzeXtdpwPcTCixGgkcZjSYHug2aEPepq4xtEaKtFf27HdZjR32wrcVLpZSQ;"/>
	</connectionStrings>
</configuration>
